<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="d435i_camera">

  <xacro:macro name="d435i_camera" params="prefix parent *origin">
    
    <material name="d435i_black">
      <color rgba="0.1 0.1 0.1 1"/>
    </material>

    <joint name="${prefix}camera_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}camera_base_link"/>
    </joint>

    <link name="${prefix}camera_base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.025 0.09 0.025"/> 
        </geometry>
        <material name="d435i_black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.025 0.09 0.025"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.072"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257"/>
      </inertial>
    </link>
    
    <gazebo reference="${prefix}camera_base_link">
      <material>Gazebo/Black</material>
    </gazebo>

  </xacro:macro>
</robot>
