<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rg2_gripper">

  <xacro:macro name="rg2_gripper" params="prefix parent *origin">

    <joint name="${prefix}rg2_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}rg2_hand"/>
    </joint>

    <link name="${prefix}rg2_hand">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot_description/meshes/visual/rg2/hand.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot_description/meshes/collision/rg2/hand.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.5"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <joint name="${prefix}rg2_finger_joint1" type="revolute">
      <parent link="${prefix}rg2_hand"/>
      <child link="${prefix}rg2_leftfinger"/>
      <origin xyz="0.105 0.017 0" rpy="0 0 0"/> <axis xyz="0 0 1"/>
      <limit lower="0.0" upper="1.18" effort="10.6" velocity="1.57"/>
    </joint>

    <link name="${prefix}rg2_leftfinger">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot_description/meshes/visual/rg2/finger.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot_description/meshes/collision/rg2/finger.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>

    <joint name="${prefix}rg2_finger_joint2" type="revolute">
      <parent link="${prefix}rg2_hand"/>
      <child link="${prefix}rg2_rightfinger"/>
      <origin xyz="0.105 -0.017 0" rpy="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <limit lower="0.0" upper="1.18" effort="10.6" velocity="1.57"/>
      <mimic joint="${prefix}rg2_finger_joint1" multiplier="1" offset="0"/>
    </joint>

    <link name="${prefix}rg2_rightfinger">
      <visual>
        <origin xyz="0 0 0" rpy="3.14159 0 0"/> <geometry>
          <mesh filename="package://robot_description/meshes/visual/rg2/finger.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="3.14159 0 0"/>
        <geometry>
          <mesh filename="package://robot_description/meshes/collision/rg2/finger.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>

    <gazebo reference="${prefix}rg2_hand">
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="${prefix}rg2_leftfinger">
      <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="${prefix}rg2_rightfinger">
      <material>Gazebo/White</material>
    </gazebo>

  </xacro:macro>
</robot>
